@import url("https://fonts.googleapis.com/css2?family=Open-Sans&family=Lato&display=swap");
body {
  color: white;
  background-color: black;
  background-size: cover;
  font-family: "Open-Sans";
}
p {
  font-family: "Open-Sans";
}
footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  margin: auto;
  background-color: black;
}
ul {
  list-style-type: none;
}
li {
  font-size: 1.2em;
}
.text-shadow {
  text-shadow: 0.75px 0.75px black;
}
.icon-style {
  background-color: #000000;
}
.card-img-top {
  width: 100%;
  height: 28vw;
  object-fit: cover;
}
.bg-opacity {
  background-color: black;
}
.blue-text,
h2,
h4,
i,
li {
  color: #557a95;
  font-family: Lato;
}
h1,
.list-group > li:hover {
  color: #ffcb9a;
}
.link-style {
  font-family: Lato;
  font-size: 1.5em;
  margin-right: 50px;
  text-decoration: none;
  color: #8d8d8d;
}
.link-style:hover {
  color: white;
}
.fade-enter {
  opacity: 0.4;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.fade-exit {
  opacity: 0;
}

.fade-exit.fade-exit-active {
  opacity: 0.4;
  transition: opacity 100ms ease-in;
}
h1 {
  font-size: 3rem;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #557a95;
}
